
/*Aside*/

.aside {
    grid-area: aside;

}

.aside-item-end {
    margin: auto;
    max-width: 250px;
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    background: url(../../../../../public/image/9.png) no-repeat;
    background-size: cover;
}