/* header */
.header {
    padding-top: 30px;
}

.header__container_2 {
    background-color: #000000;
}
.head {
    display: flex;
    align-items: center;
}

.header__head {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


.head__logo-link {
    margin-right: 35px;
}

.head__number-link {
    margin-right: auto;
    font-weight: 500;
    line-height: 20px;
    font-size: 20px;
    color: #666666;
}



.head__personal-area {
    display: flex;
    color: #cc9933;
    transition-property: outline, fill, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.head__personal-area:hover,
.head__personal-area:hover path {
    color: #E9C479;
    fill: #E9C479;
}

.head__personal-area:focus {
    outline: 1px solid #CC9933;
    color: #E9C479;
}

.head__personal-area:focus path {
    fill: #E9C479;
}

.head__personal-area:active,
.head__personal-area:active path  {
    color: #A47312;
    fill: #A47312;
    outline: none;
}


.head__tab {
    margin-top: 11px;
}

.head__user-class {
   margin-bottom: 0;
   padding-left: 7px;
}