
/*         Footer          */

.footer-container {
    margin-bottom: 20px;
    display: flex;
    max-width: 1170px;
    padding: 44px 52px;
    background: #333333;
    border-radius: 15px;
    background-image: url(../../../public/image/Footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 737px;
}

.footer-content:nth-child(1) {
    margin-right: 100px;
    max-width: 320px;
}

.footer-description {
    margin-top: 0;
    font-size: 16px;
    line-height: 190%;
    color: white;
}

.footer-description:nth-child(2) {
    margin-bottom: 50px;
}

.footer-link {
    color: #CC9933;
    transition-property: outline, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.footer-link:nth-child(2) {
    margin-bottom: 15px;
}

.footer-link:hover {
    color: #E9C479;
}

.footer-link:focus {
    outline: 1px solid #CC9933;
    color: #E9C479;
}

.footer-link:active {
    color: #A47312;
    outline: none;
}

.footer-link-contact {
    display: flex;
    flex-direction: column;
}

.footer-img {
    background-color: unset;
}

.footer-links {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.sova,
.twitter,
.fb,
.vk,
.inst {
    transition-property: fill;
    transition-duration: 0.9s;
    transition-timing-function: ease-in-out;
}


.sova:hover path {
    fill: #CC9933;
}

.sova:focus path {
    fill: #CC9933;
}

.sova:active path {
    fill: #A47312;
}

.twitter:hover path {
    fill: #CC9933;
}

.twitter:focus path {
    fill: #CC9933;
}

.twitter:active path {
    fill: #A47312;
}

.fb:hover path {
    fill: #CC9933;
}

.fb:focus path {
    fill: #CC9933;
}

.fb:active path {
    fill: #A47312;
}

.vk:hover path {
    fill: #CC9933;
}

.vk:focus path {
    fill: #CC9933;
}

.vk:active path {
    fill: #A47312;
}

.inst:hover path {
    fill: #CC9933;
}

.inst:focus path {
    fill: #CC9933;
}

.inst:active path {
    fill: #A47312;
}